.sell-product-container {
    overflow: hidden;
    background-color: #e4e4e4;
    padding: 20px;
}

.left-sell-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.left-sell-product input {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    background: transparent;
    border-bottom: 2px solid #000000;
}

#productLocation,
#productCategory {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    background: transparent;
    border-bottom: 2px solid #000000;
}

.left-sell-product option {
    background-color: #e4e4e4;
}

.left-sell-product label {
    width: 90%;
    margin-top: 20px;
    color: #000000;
    font-weight: 600;
}

.left-sell-product textarea {
    width: 90%;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #000000;
}

.right-sell-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.right-sell-product label {
    width: 90%;
    margin-top: 20px;
    font-weight: 600;
}

.right-sell-product img {
    width: 30%;
    margin-top: 20px;
    resize: none;
    box-shadow: 1px 1px 10px #131A22;
    border-radius: 20px;
}

.right-sell-product input {
    width: 90%;
    margin-top: 20px;
    resize: none;
    background: transparent;
    border-radius: 5px;
    padding-left: 10px;

}

.pro-submit-action {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.right-sell-product button {
    width: 30%;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: #FEBD69;
    border-radius: 15px;
    font-weight: 700;
    height: 40px;
}

.right-sell-product button:hover {
    background-color: #ffaf46;
}

.pro-back-home {
    text-decoration: none;
    color: #000;
    margin-top: 30px;
}

@media only screen and (max-width: 800px) {
    .sell-product-container {
        color: #000;
    }

    ::placeholder {
        color: #000;
    }

}