.sell-product-container {
    overflow: hidden;
    background-color: var(--bg-secondary-color);
    padding: 20px;
    color: var(--text-color);
}

.left-sell-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    caret-color: var(--text-color);
}

.left-sell-product input {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    background: transparent;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

#productLocation,
#productCategory {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    background: transparent;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.left-sell-product option {
    background-color: var(--bg-secondary-color);
}

.left-sell-product label {
    width: 90%;
    margin-top: 20px;
    color: var(--text-color);
    font-weight: 600;
}

.left-sell-product textarea {
    width: 90%;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.right-sell-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.right-sell-product label {
    width: 90%;
    margin-top: 20px;
    font-weight: 600;
}

.right-sell-product img {
    width: 30%;
    margin-top: 20px;
    resize: none;
    box-shadow: 1px 1px 10px var(--main-color);
    border-radius: 20px;
}

.right-sell-product input {
    width: 90%;
    margin-top: 20px;
    resize: none;
    background: transparent;
    border-radius: 5px;
    padding-left: 10px;

}

.pro-submit-action {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.right-sell-product button {
    width: 30%;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color:var( --sub-color);
    border-radius: 15px;
    font-weight: 700;
    height: 40px;
}

.right-sell-product button:hover {
    background-color:var(--sub-color-hover);
}

.pro-back-home {
    text-decoration: none;
    color:var(--text-color);
    margin-top: 30px;
}
::placeholder {
    color: var(--text-color);
}

@media only screen and (max-width: 800px) {
    .sell-product-container {
        color: var(--text-color);
    }

   

}