.admin-navbar-container {
    padding: 30px 50px;
    background-color: var(--main-color);
    top: 0;
    cursor: pointer;
}
.admin-logo{
    text-decoration: none;
    color: #fff;
   
}
.admin-logo H5{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
#admin{
    color: var(--sub-color);
}
.admin-nav-right {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
.admin-profile{
    transition: .3s ease-in-out;
    color: #fff;
    height: 20px;
}
.theme{
    color: #fff;
    scale: 1.5;
    text-align: center;
    cursor: pointer;
}

/* side bar */

.nav-menu {
    /* background-color: #449342; */
    background: linear-gradient(140deg, #131A22, #37475A);
    /* background-color: #37475A; */
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 101;
    font-size: 12px;
    padding: 0 20px;

}

.nav-menu.active {
    right: 0;
    transition: 350ms;
}

.nav-menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.fa-xmark {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #fff;

}

.profile-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.profile-image img {
    width: 100px;
    height: 100px;
    outline: none;
    background-color: #fff;
    border-radius: 50%;
}

.profile-name {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-bottom: 2px solid gray;
    color: #fff;

}

.profile-name h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.view-profile {
    text-decoration: none;
    color: #b5b5b5;
}

.profile-links {
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    color: #b5b5b5;
}

.profile-links i {
    width: 30px;
}

.part {
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}



/* phones */
@media only screen and (max-width: 600px) {
    .navbar-container {
        display: none;
    }

    .nav-bottom-bar-mobile {
        visibility: visible;
    }

    .nav-menu {
        font-size: 15px;
    }

    .navbar-toggle {
        display: none;
    }
    .search-mobile{
        display: block;
    } 
}