.admin-navbar-container {
    padding: 30px 50px;
    background-color: var(--main-color);
    top: 0;
    cursor: pointer;
}
.admin-logo{
    text-decoration: none;
    color: #fff;
   
}
.admin-logo H5{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
#admin{
    color: var(--sub-color);
}
.admin-nav-right {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
.admin-profile{
    transition: .3s ease-in-out;
    color: #fff;
    height: 20px;
}
.theme{
    color: #fff;
    scale: 1.5;
    text-align: center;
    cursor: pointer;
}
.admin-nav-links{
    text-decoration: none;
    color: #fff;
}