.user-view-product-container{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.user-view-product-row {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.user-view-product-box {
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    height: auto;
    width: 430px;
    padding: 10px;
    text-align: justify;
    text-decoration: none;
    color: var(--text-color);
}

.user-view-product-img img {
    height: 120px;
    object-fit: contain;
}

.user-view-product-des {
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.user-view-product-product-price{
    font-size: 17px;
    font-weight: 870;
}
.user-view-product-action{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.user-view-product-status-available{
    background-color: green;
    width: 250px;
    border: none;
    outline: none;
    padding: 5px 0;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.user-view-product-status-unavailable{
    background-color: red;
    width: 250px;
    border: none;
    outline: none;
    padding: 5px 0;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .user-view-product-box {
        height: auto;
    }
    .user-view-product-img img {
        height: auto;
    }
    .user-view-product-action-btn{
        height: 40px;
    }

}