.view-post-container{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px 0;
}
.view-post-row{
    padding-top: 20px;
    overflow: hidden;
    gap: 20px;
    display: flex;
    justify-content: center;
}
.view-post-img-box{
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    overflow: hidden;
}
.view-post-img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}
.view-post-name-box{
    background-color: var(--bg-secondary-color);
    font-size: 13px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
}
.view-post-description-box{
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
}
.view-post-other-box{
   
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#add-to-cart{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--sub-color);
    font-size: 17px;
    font-weight: 700;
    margin: 10px;
    color: var(--black-color);

}
#buy-now{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--sub-color);
    font-size: 17px;
    font-weight: 700;
    margin: 10px;
    color: var(--black-color);

}
#share{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--sub-color);
    font-size: 17px;
    font-weight: 700;
    margin: 10px;
    color: var(--black-color);
}
.view-post-other-box-inner{
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.view-posts-similar-product{
    background-color: var(--bg-secondary-color);
}
#similar-products{
   padding: 20px 20px 0;
   text-decoration: underline;
   text-transform: uppercase;
}
#write-a-review{
    margin: 20px;
    text-decoration: underline;

}
#review-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    width: 100%;
    padding-top: 20px;
 
}
#star-count{
    color: gold;
    font-size: 30px;
}
.star-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-input-checkbox{
    margin-right: 20px;
}
#review-submit-btn{
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    margin: 20px;
    background-color: var(--sub-color);
    font-weight: 600;
}
#star-input-textarea{
    width: 95%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid var(--border-color);
    background: transparent;
    margin-top: 10px;
    color: var(--text-color);
}
#star-input-textarea::placeholder{
    color: var(--text-color);
}
@media only screen and (max-width: 800px) {
    .view-post-container{
       padding: 20px;
       /* background-color: var(--bg-secondary-color); */
    }
    #add-to-cart{
        width: 100px;
        margin: 5px;
    }
    #buy-now{
        width: 100px;
        margin: 5px;
    }
    #share{
        width: 100px;
        margin: 5px;
    }
}