.pre-loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../images/bg3.JPEG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#loader{
    position: fixed;
    bottom: 100px;
}
@media only screen and (max-width: 800px) {
    #loader{
        bottom: 30px;
    }
    

}