.register-form-container {
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.register-form {
    position: relative;
   border: 2px solid var(--border-color);
    border-radius: 10px;
    height: 570px;
    width: 800px;
    overflow: hidden;
}

.register-left-form {
    position: absolute;
    left: 0;
    top: 50px;
    width: 50%;
    overflow: hidden;
    padding: 20px;
}

.register-right-form {
    position: absolute;
    right: 0;
    top: 50px;
    width: 50%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reg-logo{
    width: 250px;
    display: block;
    margin: auto;
}

.register-form img {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
}
.register-form input {
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #000000;
}
.register-form select {
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #000000;
}
.register-form label {
   margin-top: 20px;
}

.register-form button {
    width: 30%;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: #FEBD69;
    font-weight: 700;
    margin-top: 40px;
}

.register-form button:hover {
    background-color: #ffaf46;

}

.back-home {
    text-decoration: none;
    color: #fff;
}
.register-form p {
    margin-top: 10px;
    font-size: 12px;
}

.register-profile-image{
    width: 500px;
    background-color: #fff;
}
@media only screen and (max-width: 800px) {
    .register-form-container {
        height: 150vh;
    }
    .register-form{
        background: transparent;
        height: 150vh;
        border: none;
    }
    .register-left-form {
        position: relative;
        top: 10px;
        width: 100%;
    }
    
    .register-right-form {
        position: relative;
       left: 0;
        top: 0;
        width: 100%;
    }
    
    .register-form input {
        width: 100%;
        background: transparent;
        border-bottom: 2px solid rgb(255, 255, 255);
        color: #fff;
       
    }
    .register-form select {
        width: 100%;
       background: transparent;
       border-bottom: 2px solid rgb(255, 255, 255);
       color: #fff;
    }
    .register-form option{
        background-color: #131A22;
    }
    
   
}