.user-profile-container {
    overflow: hidden;
    background-color: var(--bg-color);
}

.user-profile-row {
    padding: 10px;
}

.left-user-profile {
    color: var(--text-color);
    overflow: hidden;
    padding: 40px 10px;
    font-size: 12px;
}
.user-profile-name{
    padding-top: 10px;
    text-align: center;
}

.left-user-profile .profile-img {
    border-radius: 50%;
    width: 100px;
    display: block;
    margin: auto;
    background-color: #fff;
    border: 1px solid #000;
}

.left-user-profile .profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.left-user-profile button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: var(--sub-color);
    transition: .3s ease-in-out;
    color: #000;
}

.left-user-profile button:hover {
    background-color: var(--sub-color-hover);
}

.profile-icon {
    width: 20px;
}

.right-user-profile {
    overflow: hidden;
     padding-left: 20px;
 
}
.fa-circle-check{
    color: green;
}
.fa-circle-xmark{
    color: red;
}

@media only screen and (max-width: 800px) {
    .right-user-profile {
        padding: 20px;
    }
    .left-user-profile .profile-img {
        border-radius: 50%;
        width: 200px;
    }

}