.user-profile-container {
    overflow: hidden;
}

.user-profile-row {
    padding: 10px;
}

.left-user-profile {
    color: #000000;
    overflow: hidden;
    padding: 40px 10px;
    font-size: 12px;
}

.left-user-profile .profile-img {
    border-radius: 50%;
    width: 100px;
    display: block;
    margin: auto;
    background-color: #fff;
    border: 1px solid #000;
}

.left-user-profile .profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.left-user-profile button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #FEBD69;
    transition: .3s ease-in-out;
    color: #000;
}

.left-user-profile button:hover {
    background-color: #ffac3f;
}

.profile-icon {
    width: 20px;
}

.right-user-profile {
    overflow: hidden;
    padding: 40px 10px;
}

.right-user-profile-row {
    display: flex;
    justify-content: space-evenly;
}

.profile-product-container {
    background-color: #ffffff;
    border: 2px solid #a6a6a6;
    border-radius: 20px;
    overflow: hidden;
    height: 320px;
}

.profile-product-img-box {
    background-color: #fff;
    height: 200px;
}

.profile-product-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-product-description-box {
    height: 100px;
    padding: 10px;
}

.profile-product-description-box h4 {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}

.profile-product-description-box h6 {
    color: #000;
    font-weight: 800;
    font-size: 14px;
}

.profile-product-description-box h5 {
    color: #000;
    font-weight: 700;
    font-size: 10px;
    text-transform: capitalize;
}

.profile-mobile-view-product {
    display: none;
}

.profile-other-view-product {
    display: block;
}

@media only screen and (max-width: 800px) {
    .right-user-profile {
        padding: 20px;
    }
    .profile-mobile-view-product {
        display: block;
    }
    .profile-other-view-product {
        display: none;
    }
    .left-user-profile .profile-img {
        border-radius: 50%;
        width: 200px;
    }

}