.user-cart-container{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.user-cart-row {
    overflow: hidden;
    min-height: 100vh;
}

.left-user-cart {
    font-size: 14px;
    padding: 30px;
   
}

.cart-item-row {
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 150px;
    padding: 10px;
    text-align: justify;
}

.cart-item-img img {
    height: 120px;
    object-fit: scale-down;
}

.cart-item-des {
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}



.right-user-cart {
    font-size: 14px;
    padding-top: 30px;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
}

.order-summary h5 {
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}

.order-summary-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#discount-order-summary {
    color: green;
    font-weight: 600;
}

#total-order-summary {
    color: red;
    font-size: 16px;
    font-weight: 700;
}

#show-delivery-address {
    width: 50%;
    margin-bottom: 20px;
}
.sold-by{
    color: var( --border-color);
}

#delivery-address {
    display: none;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
}
.cart-item-product-price{
    font-size: 17px;
    font-weight: 870;
}
.right-user-cart label {
    width: 100%;
    font-weight: 700;
    margin-top: 15px;

}

.right-user-cart input {
    width: 100%;
    border:none;
 background: var(--bg-color);
    color: var(--text-color);
    outline: none;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
}

.right-user-cart button {
    width: 30%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--sub-color);
    font-weight: 700;
    height: 30px;
    margin-top: 20px;
}

#shipping-address {
    width: 100%;
    resize: none;
    border:none;
    background: var(--bg-color);
    color: var(--text-color);
    outline: none;
    border-radius: 5px;
    padding: 10px;
}

.delivery-address-action {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#shipping-discount{
    color: green;
    /* display: none; */
}

@media only screen and (max-width: 800px) {
    .cart-item-row {
        height: auto;
    }
    .cart-item-img img {
        height: auto;
    }

}